@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Source Sans';
    font-weight: 100 900;
    src: url('/fonts/SourceSans3VF-Roman.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Source Sans';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/SourceSans3VF-Italic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Roboto Mono';
    font-weight: 100 900;
    src: url('/fonts/RobotoMono-VariableFont_wght.woff2') format('woff2'),
      url('/fonts/RobotoMono-VariableFont_wght.woff') format('woff');
  }
  @font-face {
    font-family: 'Roboto Mono';
    font-weight: 100 900;
    font-style: italic;
    src: url('/fonts/RobotoMono-Italic-VariableFont_wght.woff2') format('woff2'),
      url('/fonts/RobotoMono-Italic-VariableFont_wght.woff') format('woff');
  }
  html {
    @apply text-confluenza;
    @apply font-normal;
    @apply font-sans;
  }
  a {
    @apply hover:underline;
    @apply text-artbea-pink;
  }
  h1 {
    @apply text-confluenza-h1;
    @apply font-extralight;
    @apply font-sans;
    @apply mb-confluenza;
  }

  h2 {
    @apply text-confluenza-h2;
    @apply mb-confluenza;
    @apply mt-confluenza-1.5;
    @apply font-extralight;
    @apply font-sans;
  }

  blockquote {
    @apply mb-confluenza;
    @apply mr-confluenza;
  }

  p,
  blockquote > p {
    @apply text-confluenza-p;
    @apply mb-confluenza;
    @apply font-normal;
    @apply font-sans;
  }

  ol,
  ul {
    @apply block;
    @apply mb-7;
    @apply pl-7;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  pre {
    @apply text-confluenza-pre;
  }

  code {
    @apply text-confluenza-code;
  }

  svg {
    @apply inline;
  }
}
